.cart {
  margin: 25px;
  box-shadow: rgba(17, 17, 26, 0.4) 0px 0px 16px;
  border-radius: 15px;
  padding: 25px;
}
.cartWrapper {
  display: flex;
  margin-top: 15px;
}
.cartWrapper .cartItems {
  width: 70%;
  margin-top: 44px;
}
.cartWrapper .cartItems .cartProducts .cartProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 15px 0;
}
.cartWrapper .cartItems .cartProducts .cartProduct::after {
  content: "";
  background: grey;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 100%;
}
.cartWrapper .cartItems .cartProducts .cartProduct:first-child:before {
  content: "";
  background: grey;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
}
.cartWrapper .cartItems .cartProducts .cartProduct .productDetail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartWrapper .cartItems .cartProducts .cartProduct .productDetail img {
  height: 120px;
  width: 120px;
  margin-right: 20px;
}
.cartWrapper
  .cartItems
  .cartProducts
  .cartProduct
  .productDetail
  .productTitle {
  font-weight: 600;
  font-size: 22px;
}
.cartWrapper .cartItems .cartProducts .cartProduct .productPrice {
  display: flex;
  flex-direction: column;
}
.cartWrapper
  .cartItems
  .cartProducts
  .cartProduct
  .productPrice
  span:first-child {
  margin-bottom: 5px;
}
.cartWrapper .cartItems .cartProducts .cartProduct button {
  height: 25px;
  width: 25px;
  background: none;
  border: none;
}
.cartWrapper .cartItems .cartProducts .cartProduct .cartFunctionBtns {
  display: flex;
  align-items: center;
}
.cartWrapper
  .cartItems
  .cartProducts
  .cartProduct
  .cartFunctionBtns
  .productRemoveBtn {
  margin-left: 50px;
  margin-right: 10px;
}
.cartWrapper
  .cartItems
  .cartProducts
  .cartProduct
  .cartFunctionBtns
  .productCount {
  margin: 0 15px;
  font-weight: 600;
  font-size: 22px;
}
.cartWrapper .cartItems .cartProducts .cartProduct button > img {
  height: 100%;
  width: 100%;
}

.cartWrapper .cartSummary {
  width: 30%;
  margin: 0 20px;
}
.cartWrapper .cartSummary hr {
  margin-top: 15px;
  border: 1px solid grey;
}
.cartWrapper .cartSummary .summaryData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-weight: 700;
}
.cartWrapper .cartSummary h4 {
  margin-bottom: 15px;
}
.cartWrapper .cartSummary .shipping {
  margin-top: 30px;
}
.cartWrapper .cartSummary .shipping select {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding-left: 5px;
}
.cartWrapper .cartSummary .coupon {
  margin: 30px 0 48px 0;
}
.cartWrapper .cartSummary .coupon .couponInput {
  position: relative;
  width: 100%;
}
.cartWrapper .cartSummary .coupon .couponInput img {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.cartWrapper .cartSummary .coupon input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 30px;
}
.cartWrapper .cartSummary .finalPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-weight: 700;
}
.cartWrapper .cartSummary .cartCheckoutBtn {
  width: 100%;
  background: #000;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  padding: 12px 0;
  margin-top: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.cartWrapper .cartSummary .cartCheckoutBtn:hover {
  background: white;
  color: black;
}

@media only screen and (max-width: 1180px) {
  .cartWrapper
    .cartItems
    .cartProducts
    .cartProduct
    .cartFunctionBtns
    .productRemoveBtn {
    margin-left: 20px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 900px) {
  .cartWrapper {
    flex-direction: column;
  }
  .cartWrapper .cartItems {
    width: 100%;
  }
  .cartWrapper .cartSummary {
    margin: 75px 0;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .cartProduct {
    flex-wrap: wrap;
    width: 100%;
  }
  .cartProduct .productPrice,
  .cartProduct .cartFunctionBtns {
    margin-top: 20px;
  }
  .cartWrapper .cartSummary .shipping select {
    width: 100%;
    height: 30px;
    font-size: 15px;
    padding-left: 5px;
  }
  .cartWrapper .cartSummary .coupon input {
    height: 30px;
    font-size: 15px;
  }
  .cartWrapper .cartSummary .coupon .couponInput img {
    height: 20px;
    width: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .cartProduct .productPrice {
    width: 100%;
    text-align: center;
  }
  .cartFunctionBtns {
    width: 100%;
    justify-content: center;
  }
}
