.categories {
  background: #000;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
  position: sticky;
  top: 125px;
  opacity: 0.7;
  z-index: 1;
}
.categories ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 25px 10px;
}
.categories ul li {
  padding: 5px 10px;
  margin: 0 35px;
  position: relative;
  cursor: pointer;
}
.categories ul li::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  background: red;
  top: 100%;
  left: 0;
  transform: scale(0);
  transition: all 0.3s ease;
}
.categories ul li:hover::after {
  transform: scale(1);
}
.breadCrumb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.breadCrumb {
  list-style: none;
}
.filters {
  display: flex;
  justify-content: flex-end;
  padding-right: 35px;
  margin: 20px 0;
}
.filters .searchProduct {
  padding-left: 7px;
}
.sortProductWrapper {
  position: relative;
  display: flex;
  width: 150px;
  height: 30px;
  margin-left: 15px;
  color: #fff;
}
.sortProductWrapper::after {
  content: "\25BC";
  position: absolute;
  right: 0px;
  top: 0;
  height: 30px;
  width: 30px;
  background: #2b2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.filters .sortProduct {
  color: #fff;
  padding-left: 5px;
  appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
  background: #5c6664;
  cursor: pointer;
  flex: 1;
  z-index: 0;
}
.filters .clearFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  margin-left: 15px;
  padding: 5px;
  cursor: pointer;
}
.noMatchFound {
  margin: 200px auto;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .categories ul li {
    margin: 0 20px;
    padding: 0;
  }
}
@media only screen and (max-width: 600px) {
  .categories {
    top: 90px;
  }
  .categories ul li {
    margin: 0 10px;
  }
}
@media only screen and (max-width: 400px) {
  .categories ul {
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 360px) {
  .categories ul {
    font-size: 15px;
    flex-direction: column;
  }
}
